@import "./ComponentA/styles";
@import "./ComponentB/styles";

// импорт в корень
@include ComponentA((
    message-color: green
));
@include ComponentB((
    message-color: yellow,
    content-padding: 1.5rem
));

// Изолированые стили
.scopeA-default{
    @include ComponentA();
}
.scopeB-default{
    @include ComponentB();
}

.scopeA-styled{
    @include ComponentA((
        message-color: violet
    ));
}
.scopeB-styled{
    // изменение одного свойства
    @include ComponentB((
        content-padding: 2rem
    ));
}